a:hover{
    text-decoration: none;
  
}
.panel:hover{
    border:1px solid black;
}
.panel{
    margin: 5px;
}
.panel-heading{
    background-color: #333;
    color: #fff;
    font-size: 1.2em !important;
}

.panel-body{
    font-size: 1.1em !important;
}